<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Android_Auto" parallel="false" preserve-order="true">

    <!-- 
	<listeners>
		<listener class-name="com.test.listners.CustomReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="com.test.listners.SuiteRun" />
	</listeners>
	-->




	
	<test name="PoC">

	<classes>
	<class name="com.migme.android.SetupAndroidAppium"></class>
	</classes>
	</test>



</suite>
