<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Web_Automation_Suite" parallel="false" preserve-order="true">


	
	<test name="webautomation">
	
	<classes>
	<class name="com.autome.web.MyTestSuite"></class>
	</classes>
	</test>
	

</suite>
