<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Web_Automation_Suite" parallel="false" preserve-order="true">

    <!-- 
	<listeners>
		<listener class-name="com.test.listners.CustomReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="com.test.listners.SuiteRun" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>
	-->



<!-- <listeners> -->
<!--     <listener class-name="org.migme.test.automation.framework.testng.listener.MethodInvokerListener" /> -->
 
    
  
<!--   </listeners> -->
  
	
	<test name="web automation">

	<classes>
	<class name="com.autome.web.MyTestSuite"></class>
	</classes>
	</test>



</suite>
